.hiddens {
    height: 0px;
}

.add-item-bar {
    position: absolute;
    bottom: 0;
    background-color: pink;
    height: 200px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -5px 35px -10px rgba(0, 0, 0, 0.75);
    transition: height 1s ease-in-out;
    overflow: hidden;

    .image-wrapper {
        position: relative;
        display: inline-block;
        max-height: 80%;
        width: auto;
        text-align: center;
        cursor: pointer;

        img {
            height: 100%;
            padding: 1em;
        }
    }

    .close {
        float: right;
        padding: 1em;
    }
}
