h1 {
	font-family: "Verdana", sans-serif;
}
h2 {
	font-family: "Verdana", sans-serif;
}
h3 {
	font-family: "Verdana", sans-serif;
}
h4 {
	font-family: "Verdana", sans-serif;
}
h5 {
	font-family: "Verdana", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	color: black;
}
i {
	color: darkgray;
}
p {
	font-family: "Verdana", sans-serif;
	color: black;
}
a {
	font-family: "Oswald", sans-serif;
	font-style: none;
	text-decoration: none;
	color: #4f6457;
}
a:visited {
	color: #4f6457;
}
a:hover {
	color: seagreen;
}
body {
	background-color: #ffffff;
}
